.Car1{
  max-width: 100%int; /* Kích thước tối đa của Carousel */
  max-height: 500px; /* Kích thước tối đa của Carousel */
  min-width: 200px; /* Kích thước tối thiểu của Carousel */
  min-height: 200px; /* Kích thước tối thiểu của Carousel */
  margin-left: auto; /* Căn trái */
  margin-right: auto; 
}