.page_recruitment_id {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.button_register{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.picture {
    height: 100%;
    width: 50%;
}
.infoimport {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%
}
.picturesize{
    width: 500px;
    height: 100%;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #000;
    display: block;
    margin: 10px 0;
}