.quill {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ql-container {
    min-height: 10rem;
    height: 100%;
    // flex: 1;
    // display: flex;
    // flex-direction: column;
}

.ql-editor {
    min-height: 100px !important;
    max-height: 225px;
    height: 100%;
    flex: 1;
    // overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}