.eventcreate {
    color: black;

    .header {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    // .btnfile {
    //     color: teal;
    //     border: 2px solid teal;

    //     .choice {
    //         font-weight:600;
    //     }
    // }
}