.CreateRecruit{
  .RecruiteForm {
    // width: 100%;
    margin: auto;
    // background-color: #D9D9D9;
    display: flex;
    // border-radius: 10px;
    // border: 1px solid black;
    .Container {

      width: 100%;
      label {
        text-align: right;
      }

    }
    .parentFlex {
      display: flex;
      justify-content: center;
      margin-top:8px;
      margin-bottom: 8px;
      .leftFlex {
        display: flex;
        
        flex-wrap: wrap;
        width:80%;
        // border: black solid 0.5px;
        padding: 1%;
        border-radius: 5px;
        .AutocompBox{
          width: 100%;
          margin-top: 8px;
          
        }

      }
    }

  }
  .InputForm {
    align-items: center;
    justify-content: center;
  }
  .AddButton {
    width: 100px;
    margin: 10px;
    background-color: rgb(59, 55, 55);
    
  }
  .AddButton:hover{
    background-color: black;
  }
  .AddCompButton {
    width: 100px;
    margin: 10px;
    border:black solid 1px;
    color:black;
  }
  .AddCompButton:hover{
    background:rgb(230, 227, 227);
    border:black solid 1px;
    color:black;
  }
  .QuillCss {
    width:100%;
    margin: auto;
    height: 255.92px;
  }
  .ImgDisplay{
    height:100%;
    width:100%;
    border-radius: 10%;
  }
}
