.button {
    background-color: rgb(162, 162, 167); /* Default background color */
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgb(49, 44, 44); /* Background color on hover */
    color:white;
  }