.eventid {
    // color: black;
    
    .header {
        color: #1565c0;
        font-weight: bold;
        font-size: 20px;
    }

    .content {
        font-size: 17px;
        color: black;
        background-color: white;
        border-radius: 5px;
    }

    // .btnregister {
    //     background-color:teal;
    // }
}